@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
}
.container {
  min-height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#a0a, #000);
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: rgb(30, 30, 46);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.timeline-content img {
  height: 50px;
  width: 50px;
}
.timeline-content .date {
  position: absolute;
  top: -30px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 760px) {
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(50%);
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    background-color: aqua;
    width: 20px;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline:hover::before {
    background-color: black;
  }
  .timeline ul li:hover::after {
    background-color: rgb(27, 27, 29);
  }
}
.timeline ul li:hover {
  background-image: repeating-linear-gradient(#a0a, rgb(48, 39, 39));
  border: solid #460636 #450535;
  color: black;
}
